/* Media Query para telas menores (max-width: 768px) */
@media (max-width: 768px) {
    #home .home-conteudo {
        top: 10%;    /* Ajuste a posição vertical para telas menores */
        left: 5%;   /* Ajuste a posição horizontal para telas menores */
        flex-direction: column; /* Empilha os elementos verticalmente */
        align-items: center; /* Centraliza os elementos horizontalmente */
        text-align: center; /* Centraliza o texto */
    }

    .home-conteudo .avatar-container {
        width: auto; /* O container se ajusta ao tamanho do avatar */
        margin-bottom: 1rem; /* Adiciona um espaço abaixo do avatar */
    }

    .home-conteudo .texto-container {
        width: 100%; /* Ocupa 100% da largura do home-conteudo */
        padding-left: 0; /* Remove o espaçamento à esquerda */
    }

    .botoes {
        justify-content: center; /* Centraliza os botões */
    }
}

/* Media Query para telas ainda menores (max-width: 480px) */
@media (max-width: 480px) {
    #home .home-conteudo {
        top: 5%;    /* Ajuste a posição vertical para telas ainda menores */
        left: 2%;   /* Ajuste a posição horizontal para telas ainda menores */
    }
}